.navbar {
    background-color: #100c12;
}
.navbar .navbar-brand {
    color: #f0f4f8;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #e6d746;
}
.navbar .navbar-text {
    color: #f0f4f8;
}
.navbar .navbar-text a {
    color: #e6d746;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #e6d746;
}
.navbar .navbar-nav .nav-link {
    color: #f0f4f8;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #e6d746;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #100c12;
    border-color: #000000;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #f0f4f8;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #e6d746;
    background-color: #000000;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #000000;

}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: white;
    background-color: #000000;
}
.navbar .navbar-toggle {
    border-color: white;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: white;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: white;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #f0f4f8;
}
.navbar .navbar-link {
    color: #f0f4f8;
}
.navbar .navbar-link:hover {
    color: #e6d746;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #f0f4f8;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #e6d746;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #e6d746;
        background-color: #000000;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #f0f4f8;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #e6d746;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #e6d746;
        background-color: #000000;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #f0f4f8;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #e6d746;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #e6d746;
        background-color: #000000;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #f0f4f8;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #e6d746;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #e6d746;
        background-color: #000000;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f0f4f8;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e6d746;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e6d746;
    background-color: #000000;
}
.dropdown:hover .dropdown-menu{
    display: block;
    margin-top:0 !important;
}
